*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #19191D;
    font-family: 'Roboto', sans-serif;
}

.pin-header .logo {
    margin-bottom: 2.5rem;
}


.validate-access {
    margin-top: 20rem;
    margin-left: 50rem;
    width: 24%;
    height: 6rem;
    background-color: #02DE82;
    border: none;
    border-radius: 0.25rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }